body{
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
    background-image: url("./images/musicBackground70.png");
    background-repeat: repeat-y;
    background-size: cover;
    height: 100%;
}

.container-fluid{
    width: 100%;
    margin: 0%;
    padding: 0;
}


.navbar-brand{
    padding: 0;
    margin: 0;
    justify-content: space-around;

}

.nav-link{
    color: white;
    font-size:1.2rem;
  font-family: 'Kaushan Script', cursive;
}

.nav-link:hover{
    color: seagreen;
}

#logo{
    width: 100%;
    height: 30%; 
    position: relative;
    overflow: hidden;
}
#logo #background{
    width: 100%;
}
#fultonMarketLogo{
    width: 60%;
    margin: 0;
    padding: 0;
}

/* login-Page */

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg'); */
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.form-group .login_btn{
color: black;
background-color: #FFC312;
width: 100px;
padding: 2%;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


/* special events css */
#Special_Events img{
max-width: 100%;
max-height: 100%;
}

/* upload css */

.imagesUploader{
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#uploader{
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  margin-bottom: 10px;
}