@media only screen and (max-width: 600px){
  .footer{
    display: show;
  }

  .carousel{
    margin-left:1rem;
  }

  .logo{
    margin-left:8rem;
  }
  .openTable{
    display:hide;
  }

  .openTable2{
    display:show;
  }

  .foot{
    font-size: 1rem;
    width:100%;
    background-color:black;
    height:10rem;
    margin-bottom:0;
  }

  .footer{
    width:auto;
    margin: 0 auto;
    height:20rem;
  }

  .front{
    margin:1rem;
  }

  .front-txt{
    margin-left:-2rem;
  }
}

/* ///////////End Media Query////////////////// */

body,html{
  width:100%;
  height:100%;
}
.openTable{
margin:2rem;
}

body{
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  background-image: url("./images/musicBackground70.png");
  background-repeat: repeat-y;
  background-size: cover;
  height: 100%;
}
.address{
  line-height: 2rem;
}

.carousel{
  margin-bottom:2rem;
}
.contact1{
  margin:3rem;
}

.footer {
  border-top:2px white;
  border-style: inset;
  height: 17rem;
  width: 100%;
  background-color:black;
  color: white;
  text-align: left;
}
p, h2,a{
  text-align: left;
  
}
p,a{
  line-height: 1rem;
  margin-left: 5rem;
}
h2, a {
  margin-top: 2rem;
  margin-left: 5rem;
}
p{
  margin-top: 1rem;
}
.link{
    margin-left:2rem;
    margin-top: rem;   
}



.about {
  /* background-color:#e7e3e4; */
  width: 100%;
  background-size:100%;
  background-repeat: no-repeat;
  
  
}

.fa-instagram, .fa-facebook {
color:rgb(231, 42, 42);
}
.footer {
  width: 100%;
  background-color:black;
  color: white;
  text-align: left;

}


.foot-title{
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.front {
  height: 20rem;
  width:25rem;
  margin-top:3rem;
  margin-bottom: 2rem;
  
  
}

.front-txt{
  color:white;
  font-size: 1.7rem;
  line-height:1.9rem;
  font-family: 'Sahitya', serif;
  font-size:1.4rem;
  text-align: left;
  margin-top:1rem;
  margin-left:4rem;
  margin-right:1rem;
  text-shadow:.1rem .1rem black;

}

.title {
  font-size:2.5rem;
  font-family: 'Kaushan Script', cursive;
  color:#fcbdb2;
  text-shadow:.1rem .1rem black;
  

}


p, h2,a{
  text-align: left;
  
}

p,a{
  line-height: 1rem;
  margin-left: 5rem;
}
h2, a {
  margin-top: 2rem;
  margin-left: 5rem;
}


p{
  margin-top: 1rem;
}

.my-3{
  color:white;
  font-size: 2.3rem;
  text-shadow: .1rem .1rem black;
  margin:1rem;
  font-family: 'Kaushan Script', cursive;

}

.menu{
  margin:5rem;
}

.menu-pic:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.link{
    margin-left:2rem;
    margin-top: 2rem;   

}

body{
  background-color: #000000;
  padding: 0px;
  margin: 0px;
}

#gradient{
 background: rgb(0, 0, 0, 0.4);
width: 100%;
height: 70rem;
padding: 0px;
margin: 0px;
}

div#maintwo{
    width:51.875rem;
    height:40.625rem;
    margin:0 auto;
    font-family:'Ubuntu',sans-serif
    }
    div#form_sample{
    text-align:center;
    border:1px solid #2BC1F2;
    width:300px;
    padding:0 50px 15px;
    margin-top:20px;
    box-shadow:0 0 15px white;
    border-radius:6px;
    float:left;
    color:white;
    }
    #maintwo h1{
    margin-top:30px
    }
    hr{
    margin-top:-5px
    }
    label{
    float:left;
    font-size:16px
    }
    input[type="text"]{
    width:100%;
    margin-top:10px;
    height:35px;
    margin-bottom:25px;
    padding:10px;
    border:3px solid #2BC1F2
    }
    textarea{
    width:100%;
    border:3px solid #2BC1F2;
    padding:10px;
    margin-bottom:25px;
    margin-top:10px;
    height:100px;
    resize:none
    }
    input[type="submit"]{
      width:100%;
      padding:10px 45px;
      background-color:rgb(231, 42, 42);
      border:none;
      color:#fff;
      font-size:18px;
      font-weight:700;
      cursor:pointer;
      font-family:'Ubuntu',sans-serif
      }